openapi: 3.0.1
info:
  title: Claims and Content Submission API
  description: |
    Integration with this API empowers you to tailor to your users' experience within your system. When entering claims from your system
    of choice, you can control what is entered and have a record of what was provided at First Notice of Loss (FNOL) and First
    Report of Injury (FROI).  Upon successful submission the API will respond with an all numeric claim number for your 
    records. This number can be used to submit content and post FNOL messages for up to 18 months 
    post FNOL submission. In this document you will find the technical specifications (requirements) for claim 
    submission, content submission and post FNOL messaging.
  termsOfService: 'https://developers.libertymutual.com'
  contact:
    name: Claim & Content Ingestion
    email: CI_FNOL_Prod_Support@LibertyMutual.com
  version: 1.10.0
servers:
  - url: 'https://api.us.libertymutual.com/grs-fnol/production'
    description: Production server (live data)
  - url: 'https://api-tst.us.libertymutual.com/grs-fnol/test'
    description: Test server (test data)
tags:
  - name: FNOL Claim Submission
    description: Submit a new FNOL to Liberty Mutual
  - name: FNOL Document Submission
    description: Submit a list of documents to Liberty Mutual and receive presigned URLs
paths:
  /v1/claims/fnol:
    post:
      tags:
        - FNOL Claim Submission
      summary: Submit FNOL
      description: Submits First Notice Of Loss (FNOL)
      operationId: createFnol
      requestBody:
        description: Claim to be ingested by Liberty Mutual
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/AuFnolRequest'
                - $ref: '#/components/schemas/WcFnolRequest'
                - $ref: '#/components/schemas/PropFnolRequest'
                - $ref: '#/components/schemas/GlFnolRequest'
        required: true
      responses:
        '201':
          description: FNOL request received successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FnolResponse'
        '400':
          description: Request did not have required parameters or failed validation OR payload is too large and exceeds maximum allowed size OR request is not correctly formed or not in expected JSON format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: (Unauthorized) Client error.  Request should not be retried.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: (Not Found) Client error.  Request should not be retried.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server error.  Request may be retried immediately
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
  /v1/claims/docs:
    post:
      tags:
        - FNOL Document Submission
      summary: 'Submit (Auto, GL, and Property) additional claim artifacts'
      description: |
        **Effective June 2024** - All new content integration should be submitted through v2/claims/documents.

        This endpoint only supports sending up to _300_ _MB_ per file for AUTOB, CGL and PROPC claims and will be retired in Q1 2025.
      operationId: createDocs
      requestBody:
        description: Submit claim document metadata to be returned as a presigned-URL for an AWS S3 bucket to post the artifacts to.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocsRequest'
        required: true
      responses:
        '201':
          description: Document presigned-URL links returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocsResponse'
        '400':
          description: Client error.  Request should not be retried.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: (Unauthorized) Client error.  Request should not be retried.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: (Not Found) Client error.  Request should not be retried.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server error.  Request may be retried immediately
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/claims/documents:
    post:
      tags:
        - FNOL Document Submission
      summary: Submit additional claim artifacts
      description: |
        Content submission endpoint that supports sending up to _100_ _MB_ for WC and _300_ _MB_ per file for AUTOB, CGL and PROPC in two steps.

        **Step 1)** Send us an array of content metadata objects containing details like the name, type, and 
        extension. We save that for later, and return a presigned-URL for each metadata object you sent us. 
        The details for the request is in the "createDocs" operation below. 

        **Step 2)** You "PUT" the content to the presigned-URL. We'll pick it up and process it as soon as we see it.

        **Here's a CURL example for the PUT (step 2)**
        curl -X PUT -T path/to/file "the presigned URL we returned to you for the object"

        PUTs like the example above can be done with many popular languages, from a server or a browser; use
        the approach that best suits yours.
      operationId: createV2Docs
      requestBody:
        description: Submit claim document metadata to be returned as a presigned-URL for an AWS S3 bucket to post the artifacts to.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocsV2Request'
            examples:
              populatedRequest:
                value:
                  claimNumber: '123456'
                  lineOfBusiness: WC
                  documents:
                    - name: DocumentName
                      extension: xlsx
                      type: AutoLiabilityInvestigation
                summary: Populated Request
        required: true
      responses:
        '201':
          description: Document presigned-URL links returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocsResponse'
        '400':
          description: Client error.  Request should not be retried.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: (Unauthorized) Client error.  Request should not be retried.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: (Not Found) Client error.  Request should not be retried.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server error.  Request may be retried immediately
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/claims/fnol/au:
    post:
      tags:
        - FNOL Claim Submission
      summary: Submit FNOL for Auto claims
      description: The FNOL Claims Intake API endpoint used for auto claim submission
      operationId: createAuFnol
      requestBody:
        description: 'The request body includes the necessary information to submit the First Notice Of Loss (FNOL) for an auto claim. At a minimum, it will provide details such as the insured or principal involved in the claim and their vehicle information.  Specific details of the claim’s occurrence and event, as well as the contact/reporter details.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuFnolRequest'
            examples:
              minAutoPayload:
                value:
                  insuredOrPrincipal:
                    accountStakeholderID: 123456
                    lineOfBusinessCode: AUTOB
                    policyNumber: AB1234567890123
                    policyEffectiveDate: '2020-01-01'
                    policyExpirationDate: '2021-01-01'
                    organizationName:
                      organizationNameLine1: Organization Line 1
                    primaryAddress:
                      city: Boston
                      stateProvinceCode: US-MA
                      countryCode: USA
                    businessPhone:
                      phoneNumber: +1-800-3620000
                  claimsOccurrence:
                    lossDate: '2020-07-15'
                    lossTime: '10:30:00'
                    reportedToInsuredDateTime: '2020-07-16T01:30:00Z'
                    insuredReportNumber: 'IRN #12345'
                  autoEventDetails:
                    eventDescriptionCode: '01'
                    eventDescriptionText: Insert description here
                    eventStreetLine1: 175 Berkeley Street
                    eventCity: Boston
                    eventStateProvinceCode: US-MA
                    eventCountryCode: USA
                    seekingInsuredVehicleCoverageIndicator: true
                    claimReportedByRelationshipToInsuredCode: EmployeeOrInternalAgent
                  claimReportedBy:
                    personName:
                      firstName: Jasmine
                      lastName: Brown
                    businessPhone:
                      phoneNumber: +1-800-3620000
                  insuredVehicle:
                    vehicleDetails:
                      vehicleOwnershipTypeCode: Owned
                      typeOfVehicle: PassengerAutomobile
                      year: '2022'
                      make: Toyota
                      model: Camry
                    vehicleDamages:
                      wasVehicleStopped: 'No'
                      pointOfImpactCode: Rear
                      estimatedDamageSeverityCode: Minor
                    driverCustodian:
                      personName:
                        firstName: John
                        lastName: Smith
                      businessPhone:
                        phoneNumber: +1-800-3620000
                      demographics:
                        genderCode: Male
                      injury:
                        sufferedBodilyInjuryIndicator: true
                      personalPropertyDamage:
                        personalPropertyDamagedIndicator: true
                      wasDriverOrCustodianPresent: 'Yes'
                      relationshipToVehicleOwner: Self
                summary: Minimum Auto Data
              maxAutoPayload:
                value:
                  insuredOrPrincipal:
                    accountStakeholderID: 123456
                    lineOfBusinessCode: AUTOB
                    policyNumber: AB1234567890123
                    policyEffectiveDate: '2020-01-01'
                    policyExpirationDate: '2021-01-01'
                    organizationName:
                      organizationNameLine1: Organization Line 1
                      organizationNameLine2: Organization Line 2
                    primaryAddress:
                      addressLine1: 175 Berkeley Street
                      addressLine2: Unit 1
                      city: Boston
                      stateProvinceCode: US-MA
                      postalCode: '12345'
                      county: Suffolk
                      countryCode: USA
                    secondaryAddress:
                      addressLine1: 175 Berkeley Street
                      addressLine2: Unit 1
                      city: Boston
                      stateProvinceCode: US-MA
                      postalCode: '12345'
                      county: Suffolk
                      countryCode: USA
                    businessPhone:
                      phoneNumber: +1-800-3620000
                      phoneExtension: '123'
                      optInForTextMessagingIndicator: true
                    email:
                      emailAddress: CI_FNOL_Business_support@libertymutual.com
                      optInForClaimNotificationsIndicator: true
                    involvedPartyAdditionalRemarks: These are insured or principal additional remarks.
                  claimsOccurrence:
                    lossDate: '2020-07-15'
                    lossTime: '10:30:00'
                    reportedToInsuredDateTime: '2020-07-16T01:30:00Z'
                    insuredReportNumber: 'IRN #12345'
                    insuredLocationCode: 1234567890AbCdEfGhIjKlMnOpQrSt
                    insuredFederalTaxIdentificationNumber: '123456789'
                    lawsuitHasBeenFiledIndicator: true
                    lawsuitDocketNumber: LDN 765
                    lawsuitFilingCounty: AnyCounty
                    lawsuitFilingCourt: TheCourt
                    lawsuitFilingAttorney: John Smith
                    associatedClaimInfo:
                      claimNumber: '123456789'
                      claimType: Duplicate
                      associationType: Secondary
                    reportingClaimAsRecordOnlyIndicator: true
                    claimsOccurrenceAdditionalRemarks: These are the claims occurrence additional remarks.
                  autoEventDetails:
                    eventDescriptionCode: '02'
                    eventDescriptionText: Event Description Text
                    eventStreetLine1: 175 berkeley street
                    eventStreetLine2: Suite 100
                    eventCity: Boston
                    eventStateProvinceCode: US-MA
                    eventPostalCode: '12345'
                    eventCounty: EventCounty
                    eventCountryCode: USA
                    eventLocationLatitude: '43.761539'
                    eventLocationLongitude: '-79.411079'
                    eventDetailedLocationDescription: Detailed description of location
                    eventIntersectionDescription: IntersectionFourWay
                    transportationNetworkCompanyPeriod: TncPeriod1
                    tripOriginationCity: Portland
                    tripOriginationStateCode: US-ME
                    insuredVehiclePassengerCount: 1
                    seekingInsuredVehicleCoverageIndicator: true
                    claimReportedByRelationshipToInsuredCode: EmployeeOrInternalAgent
                    claimReportedByRelationshipToInsuredText: Relationship Text
                  claimReportedBy:
                    personName:
                      firstName: Jasmine
                      middleInitial: M
                      lastName: Brown
                      nameSuffixCode: I
                    primaryAddress:
                      addressLine1: 175 Berkeley Street
                      addressLine2: Unit 1
                      city: Boston
                      stateProvinceCode: US-MA
                      postalCode: '12345'
                      county: Suffolk
                      countryCode: USA
                    businessPhone:
                      phoneNumber: +1-800-3620000
                      phoneExtension: '123'
                      optInForTextMessagingIndicator: false
                    homePhone:
                      phoneNumber: +1-800-3620000
                      phoneExtension: '123'
                      optInForTextMessagingIndicator: false
                    mobilePhone:
                      phoneNumber: +1-800-3620000
                      phoneExtension: '123'
                      optInForTextMessagingIndicator: false
                    email:
                      emailAddress: CI_FNOL_Business_support@libertymutual.com
                      optInForClaimNotificationsIndicator: false
                    demographics:
                      dateOfBirth: '1968-07-23'
                      genderCode: Female
                    involvedPartyIdentifier: IP1
                    involvedPartyAdditionalRemarks: These are the claim reported by additional remarks.
                  claimPrimaryContact:
                    personName:
                      firstName: Eric
                      middleInitial: A
                      lastName: Green
                      nameSuffixCode: I
                    primaryAddress:
                      addressLine1: 175 Berkeley Street
                      addressLine2: Unit 1
                      city: Boston
                      stateProvinceCode: US-MA
                      postalCode: '12345'
                      county: Suffolk
                      countryCode: USA
                    businessPhone:
                      phoneNumber: +1-800-3620000
                      phoneExtension: '123'
                      optInForTextMessagingIndicator: true
                    homePhone:
                      phoneNumber: +1-800-3620000
                      phoneExtension: '123'
                      optInForTextMessagingIndicator: true
                    mobilePhone:
                      phoneNumber: +1-800-3620000
                      phoneExtension: '123'
                      optInForTextMessagingIndicator: false
                    email:
                      emailAddress: CI_FNOL_Business_support@libertymutual.com
                      optInForClaimNotificationsIndicator: true
                    demographics:
                      dateOfBirth: '1968-07-23'
                      genderCode: Male
                    involvedPartyIdentifier: Primary1
                    involvedPartyAdditionalRemarks: These are the primary contact additional remarks.
                  insuredVehicle:
                    vehicleDetails:
                      vehicleOwnershipTypeCode: Owned
                      typeOfVehicle: PassengerAutomobile
                      year: '2022'
                      make: Toyota
                      model: Camry
                      VIN: VIN123
                      color: blue
                      registrationStateProvinceCode: US-WY
                      licensePlateNumber: WY-4321
                    vehicleDamages:
                      wasVehicleStopped: 'No'
                      pointOfImpactCode: Rear
                      estimatedDamageSeverityCode: Minor
                      wasVehicleDrivenFromScene: 'No'
                      wereAirbagsDeployed: 'No'
                      vehicleDamageDescription: Dented the bumper
                    otherInsurance:
                      organizationName:
                        organizationNameLine1: Organization Line 1
                        organizationNameLine2: Organization Line 2
                      primaryAddress:
                        addressLine1: 175 Berkeley Street
                        addressLine2: Unit 1
                        city: Boston
                        stateProvinceCode: US-MA
                        postalCode: '12345'
                        county: Suffolk
                        countryCode: USA
                      businessPhone:
                        phoneNumber: +1-800-3620000
                        phoneExtension: '123'
                        optInForTextMessagingIndicator: true
                      email:
                        emailAddress: CI_FNOL_Business_support@libertymutual.com
                        optInForClaimNotificationsIndicator: true
                      otherInsurancePolicyNumber: Pol9876
                      involvedPartyIdentifier: Other321
                      involvedPartyAdditionalRemarks: These are the other insurance additional remarks.
                    driverCustodian:
                      personName:
                        firstName: Austin
                        middleInitial: C
                        lastName: Kennith
                        nameSuffixCode: V
                      primaryAddress:
                        addressLine1: 175 Berkeley Street
                        addressLine2: Unit 1
                        city: Boston
                        stateProvinceCode: US-MA
                        postalCode: '12345'
                        county: Suffolk
                        countryCode: USA
                      businessPhone:
                        phoneNumber: +1-800-3620000
                        phoneExtension: '123'
                        optInForTextMessagingIndicator: true
                      homePhone:
                        phoneNumber: +1-800-3620000
                        phoneExtension: '123'
                        optInForTextMessagingIndicator: true
                      mobilePhone:
                        phoneNumber: +1-800-3620000
                        phoneExtension: '123'
                        optInForTextMessagingIndicator: false
                      email:
                        emailAddress: CI_FNOL_Business_support@libertymutual.com
                        optInForClaimNotificationsIndicator: true
                      demographics:
                        dateOfBirth: '1968-07-23'
                        genderCode: Male
                      driversLicenseInformation:
                        driversLicenseIssuingStateCode: US-VT
                        driversLicenseNumber: VT123456
                      injury:
                        sufferedBodilyInjuryIndicator: false
                        extentOfInjuryCode: CutScrapeAbrasion
                        extentOfInjuryOtherText: Extent Other Text
                        initialMedicalTreatmentCode: NoMedicalTreatment
                        additionalInjuryDescriptionText: This is the insured driver additional injury description.
                      personalPropertyDamage:
                        personalPropertyDamagedIndicator: true
                        personalPropertyDescription: Insured driver personal property description.
                        personalPropertyDamageDescription: This is the insured driver personal property damage description.
                      wasDriverOrCustodianPresent: 'Yes'
                      relationshipToVehicleOwner: Self
                      didDriverHaveOwnersPermissionIndicator: 'No'
                      involvedPartyIdentifier: IDC888
                      involvedPartyAdditionalRemarks: These are the insured driver additional remarks.
                    owner:
                      organizationName:
                        organizationNameLine1: Organization Line 1
                        organizationNameLine2: Organization Line 2
                      personName:
                        firstName: Larry
                        middleInitial: B
                        lastName: Grant
                        nameSuffixCode: I
                      primaryAddress:
                        addressLine1: 175 Berkeley Street
                        addressLine2: Unit 1
                        city: Boston
                        stateProvinceCode: US-MA
                        postalCode: '12345'
                        county: Suffolk
                        countryCode: USA
                      businessPhone:
                        phoneNumber: +1-800-3620000
                        phoneExtension: '123'
                        optInForTextMessagingIndicator: true
                      homePhone:
                        phoneNumber: +1-800-3620000
                        phoneExtension: '123'
                        optInForTextMessagingIndicator: true
                      mobilePhone:
                        phoneNumber: +1-800-3620000
                        phoneExtension: '123'
                        optInForTextMessagingIndicator: false
                      email:
                        emailAddress: CI_FNOL_Business_support@libertymutual.com
                        optInForClaimNotificationsIndicator: true
                      demographics:
                        dateOfBirth: '1968-07-23'
                        genderCode: Male
                      involvedPartyIdentifier: Owner1
                      involvedPartyAdditionalRemarks: These are the insured owner additional remarks.
                    passengers:
                      - personName:
                          firstName: Mickey
                          middleInitial: R
                          lastName: Mango
                          nameSuffixCode: V
                        primaryAddress:
                          addressLine1: 175 Berkeley Street
                          addressLine2: Unit 1
                          city: Boston
                          stateProvinceCode: US-MA
                          postalCode: '12345'
                          county: Suffolk
                          countryCode: USA
                        businessPhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: true
                        homePhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: true
                        mobilePhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: false
                        email:
                          emailAddress: CI_FNOL_Business_support@libertymutual.com
                          optInForClaimNotificationsIndicator: true
                        demographics:
                          dateOfBirth: '1990-01-17'
                          genderCode: Male
                        driversLicenseInformation:
                          driversLicenseIssuingStateCode: US-CT
                          driversLicenseNumber: DL768
                        injury:
                          sufferedBodilyInjuryIndicator: true
                          extentOfInjuryCode: Other
                          extentOfInjuryOtherText: Other Extent Text
                          initialMedicalTreatmentCode: TreatmentUnknown
                          additionalInjuryDescriptionText: This is the insured passenger additional injury description.
                        personalPropertyDamage:
                          personalPropertyDamagedIndicator: true
                          personalPropertyDescription: Passenger personal property description
                          personalPropertyDamageDescription: Passenger personal property damage
                        involvedPartyIdentifier: PASS1
                        involvedPartyAdditionalRemarks: These are the insured passenger additional remarks.
                  thirdPartyVehicles:
                    - vehicleDetails:
                        vehicleOwnershipTypeCode: HiredOrRented
                        typeOfVehicle: Bus
                        year: '2000'
                        make: Honda
                        model: Civic
                        VIN: VINCIVIC
                        color: tan
                        registrationStateProvinceCode: US-MS
                        licensePlateNumber: MS887766
                      vehicleDamages:
                        wasVehicleStopped: 'No'
                        pointOfImpactCode: Front
                        estimatedDamageSeverityCode: Minor
                        wasVehicleDrivenFromScene: 'Yes'
                        wereAirbagsDeployed: 'No'
                        vehicleDamageDescription: This is the third party vehicle damage description.
                      otherInsurance:
                        organizationName:
                          organizationNameLine1: Organization Line 1
                          organizationNameLine2: Organization Line 2
                        primaryAddress:
                          addressLine1: 175 Berkeley Street
                          addressLine2: Unit 1
                          city: Boston
                          stateProvinceCode: US-MA
                          postalCode: '12345'
                          county: Suffolk
                          countryCode: USA
                        businessPhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: true
                        email:
                          emailAddress: CI_FNOL_Business_support@libertymutual.com
                          optInForClaimNotificationsIndicator: true
                        otherInsurancePolicyNumber: OIP12345
                        involvedPartyIdentifier: TPVeh1
                        involvedPartyAdditionalRemarks: These are the third party insurance additional remarks.
                      driverCustodian:
                        personName:
                          firstName: Carlie
                          middleInitial: P
                          lastName: Peterson
                          nameSuffixCode: II
                        primaryAddress:
                          addressLine1: 175 Berkeley Street
                          addressLine2: Unit 1
                          city: Boston
                          stateProvinceCode: US-MA
                          postalCode: '12345'
                          county: Suffolk
                          countryCode: USA
                        businessPhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: true
                        homePhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: true
                        mobilePhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: false
                        email:
                          emailAddress: CI_FNOL_Business_support@libertymutual.com
                          optInForClaimNotificationsIndicator: true
                        demographics:
                          dateOfBirth: '1970-02-23'
                          genderCode: Female
                        driversLicenseInformation:
                          driversLicenseIssuingStateCode: US-AK
                          driversLicenseNumber: DL-792-ABC1970
                        injury:
                          sufferedBodilyInjuryIndicator: true
                          extentOfInjuryCode: Concussion
                          extentOfInjuryOtherText: Slight concussion
                          initialMedicalTreatmentCode: HospitalEmergencyRoomTreatedAndReleased
                          additionalInjuryDescriptionText: This is the third party driver additional injury description.
                        personalPropertyDamage:
                          personalPropertyDamagedIndicator: true
                          personalPropertyDescription: Third party driver personal property description.
                          personalPropertyDamageDescription: This is the third driver passenger personal property damage description.
                        wasDriverOrCustodianPresent: 'No'
                        relationshipToVehicleOwner: Employee
                        didDriverHaveOwnersPermissionIndicator: 'No'
                        involvedPartyIdentifier: IPI-89223HA
                        involvedPartyAdditionalRemarks: These are the third party driver additional remarks.
                      owner:
                        organizationName:
                          organizationNameLine1: Organization Line 1
                          organizationNameLine2: Organization Line 2
                        personName:
                          firstName: Marion
                          middleInitial: W
                          lastName: Carson
                          nameSuffixCode: I
                        primaryAddress:
                          addressLine1: 175 Berkeley Street
                          addressLine2: Unit 1
                          city: Boston
                          stateProvinceCode: US-MA
                          postalCode: '12345'
                          county: Suffolk
                          countryCode: USA
                        businessPhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: true
                        homePhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: true
                        mobilePhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: false
                        email:
                          emailAddress: CI_FNOL_Business_support@libertymutual.com
                          optInForClaimNotificationsIndicator: true
                        demographics:
                          dateOfBirth: '1968-07-23'
                          genderCode: Male
                        involvedPartyIdentifier: IPI-MC-009
                        involvedPartyAdditionalRemarks: These are the third party owner additional remarks.
                      passengers:
                        - personName:
                            firstName: Nick
                            middleInitial: T
                            lastName: Kline
                            nameSuffixCode: I
                          primaryAddress:
                            addressLine1: 175 Berkeley Street
                            addressLine2: Unit 1
                            city: Boston
                            stateProvinceCode: US-MA
                            postalCode: '12345'
                            county: Suffolk
                            countryCode: USA
                          businessPhone:
                            phoneNumber: +1-800-3620000
                            phoneExtension: '123'
                            optInForTextMessagingIndicator: true
                          homePhone:
                            phoneNumber: +1-800-3620000
                            phoneExtension: '123'
                            optInForTextMessagingIndicator: true
                          mobilePhone:
                            phoneNumber: +1-800-3620000
                            phoneExtension: '123'
                            optInForTextMessagingIndicator: false
                          email:
                            emailAddress: CI_FNOL_Business_support@libertymutual.com
                            optInForClaimNotificationsIndicator: true
                          demographics:
                            dateOfBirth: '2020-07-23'
                            genderCode: Male
                          driversLicenseInformation:
                            driversLicenseIssuingStateCode: US-AK
                            driversLicenseNumber: DL-DE-67231
                          injury:
                            sufferedBodilyInjuryIndicator: true
                            extentOfInjuryCode: InjuryExtentUnknown
                            extentOfInjuryOtherText: Extent of injury is unknown
                            initialMedicalTreatmentCode: TreatmentAtPhysiciansOffice
                            additionalInjuryDescriptionText: This is the third party passenger additional injury description.
                          personalPropertyDamage:
                            personalPropertyDamagedIndicator: true
                            personalPropertyDescription: 3rd party passenger personal property description
                            personalPropertyDamageDescription: This is the third party passenger personal property damage description.
                          involvedPartyIdentifier: IPI-965
                          involvedPartyAdditionalRemarks: These are the third party passenger additional remarks.
                  bicyclistsOrPedestrians:
                    - bicyclistOrPedestrianRoleCode: Bicyclist
                      personName:
                        firstName: David
                        middleInitial: K
                        lastName: Schwinn
                        nameSuffixCode: III
                      primaryAddress:
                        addressLine1: 175 Berkeley Street
                        addressLine2: Unit 1
                        city: Boston
                        stateProvinceCode: US-MA
                        postalCode: '12345'
                        county: Suffolk
                        countryCode: USA
                      businessPhone:
                        phoneNumber: +1-800-3620000
                        phoneExtension: '123'
                        optInForTextMessagingIndicator: true
                      homePhone:
                        phoneNumber: +1-800-3620000
                        phoneExtension: '123'
                        optInForTextMessagingIndicator: true
                      mobilePhone:
                        phoneNumber: +1-800-3620000
                        phoneExtension: '123'
                        optInForTextMessagingIndicator: false
                      email:
                        emailAddress: CI_FNOL_Business_support@libertymutual.com
                        optInForClaimNotificationsIndicator: true
                      demographics:
                        dateOfBirth: '2000-03-03'
                        genderCode: Male
                      injury:
                        sufferedBodilyInjuryIndicator: true
                        extentOfInjuryCode: HeadTrauma
                        extentOfInjuryOtherText: Trauma of the head
                        initialMedicalTreatmentCode: TreatmentAtClinic
                        additionalInjuryDescriptionText: This is the bicyclist/pedestrian additional injury description.
                      personalPropertyDamage:
                        personalPropertyDamagedIndicator: true
                        personalPropertyDescription: Bicyclist personal property description.
                        personalPropertyDamageDescription: This is the bicyclist personal property damage description.
                      involvedPartyIdentifier: IPI-334
                      involvedPartyAdditionalRemarks: These are the bicyclist/pedestrian additional remarks.
                  otherDamagedProperties:
                    - otherPropertyDescription: This is the other damaged properties description.
                      otherPropertyDamageDescription: This is the other damaged properties damage description.
                      otherDamagedPropertiesRoleCode: AnimalOwner
                      organizationName:
                        organizationNameLine1: Organization Line 1
                        organizationNameLine2: Organization Line 2
                      personName:
                        firstName: Paul
                        middleInitial: L
                        lastName: Boxer
                        nameSuffixCode: IV
                      primaryAddress:
                        addressLine1: 175 Berkeley Street
                        addressLine2: Unit 1
                        city: Boston
                        stateProvinceCode: US-MA
                        postalCode: '12345'
                        county: Suffolk
                        countryCode: USA
                      businessPhone:
                        phoneNumber: +1-800-3620000
                        phoneExtension: '123'
                        optInForTextMessagingIndicator: true
                      homePhone:
                        phoneNumber: +1-800-3620000
                        phoneExtension: '123'
                        optInForTextMessagingIndicator: true
                      mobilePhone:
                        phoneNumber: +1-800-3620000
                        phoneExtension: '123'
                        optInForTextMessagingIndicator: false
                      email:
                        emailAddress: CI_FNOL_Business_support@libertymutual.com
                        optInForClaimNotificationsIndicator: true
                      demographics:
                        dateOfBirth: '1968-07-23'
                        genderCode: Male
                      involvedPartyIdentifier: IPI-35TX
                      involvedPartyAdditionalRemarks: These are the other damaged properties additional remarks.
                  firstResponders:
                    - firstResponderRoleCode: FireDepartment
                      organizationName:
                        organizationNameLine1: Organization Line 1
                        organizationNameLine2: Organization Line 2
                      personName:
                        firstName: Larry
                        middleInitial: F
                        lastName: Lawson
                        nameSuffixCode: I
                      primaryAddress:
                        addressLine1: 175 Berkeley Street
                        addressLine2: Unit 1
                        city: Boston
                        stateProvinceCode: US-MA
                        postalCode: '12345'
                        county: Suffolk
                        countryCode: USA
                      businessPhone:
                        phoneNumber: +1-800-3620000
                        phoneExtension: '123'
                        optInForTextMessagingIndicator: true
                      email:
                        emailAddress: CI_FNOL_Business_support@libertymutual.com
                        optInForClaimNotificationsIndicator: true
                      badgeIdentification: B-456
                      incidentReportNumber: 'IRN #000967'
                      incidentReportDate: '2020-07-23'
                      citationIssuedIndicator: true
                      citationTypeAndNumber: This is the citation number and type.
                      citationRecipient: Joe Harmon
                      involvedPartyIdentifier: JH-789
                      involvedPartyAdditionalRemarks: These are the first responder additional remarks.
                  otherInvolvedParties:
                    - otherInvolvedPartyRoleCode: InsuredAttorney
                      organizationName:
                        organizationNameLine1: Organization Line 1
                        organizationNameLine2: Organization Line 2
                      personName:
                        firstName: Mark
                        middleInitial: S
                        lastName: Mathers
                        nameSuffixCode: I
                      primaryAddress:
                        addressLine1: 175 Berkeley Street
                        addressLine2: Unit 1
                        city: Boston
                        stateProvinceCode: US-MA
                        postalCode: '12345'
                        county: Suffolk
                        countryCode: USA
                      businessPhone:
                        phoneNumber: +1-800-3620000
                        phoneExtension: '123'
                        optInForTextMessagingIndicator: true
                      homePhone:
                        phoneNumber: +1-800-3620000
                        phoneExtension: '123'
                        optInForTextMessagingIndicator: true
                      mobilePhone:
                        phoneNumber: +1-800-3620000
                        phoneExtension: '123'
                        optInForTextMessagingIndicator: false
                      email:
                        emailAddress: CI_FNOL_Business_support@libertymutual.com
                        optInForClaimNotificationsIndicator: true
                      demographics:
                        dateOfBirth: '1968-07-23'
                        genderCode: Male
                      involvedPartyIdentifier: IPI-999009
                      involvedPartyAdditionalRemarks: These are the other involved parties additional remarks.
                  customDataFields:
                    claimSpecificCode01:
                      label: 'This is the label for the Coded custom data field #1'
                      description: 'This is the description for the Coded custom data field #1'
                      value: value01
                    claimSpecificCode02:
                      label: 'This is the label for the Coded custom data field #2'
                      description: 'This is the description for the Coded custom data field #2'
                      value: value02
                    claimSpecificCode03:
                      label: 'This is the label for the Coded custom data field #3'
                      description: 'This is the description for the Coded custom data field #3'
                      value: value03
                    claimSpecificCode04:
                      label: 'This is the label for the Coded custom data field #4'
                      description: 'This is the description for the Coded custom data field #4'
                      value: value04
                    claimSpecificCode05:
                      label: 'This is the label for the Coded custom data field #5'
                      description: 'This is the description for the Coded custom data field #5'
                      value: value05
                    claimSpecificCode06:
                      label: 'This is the label for the Coded custom data field #6'
                      description: 'This is the description for the Coded custom data field #6'
                      value: value06
                    claimSpecificCode07:
                      label: 'This is the label for the Coded custom data field #7'
                      description: 'This is the description for the Coded custom data field #7'
                      value: value07
                    claimSpecificCode08:
                      label: 'This is the label for the Coded custom data field #8'
                      description: 'This is the description for the Coded custom data field #8'
                      value: value08
                    claimSpecificCode09:
                      label: 'This is the label for the Coded custom data field #9'
                      description: 'This is the description for the Coded custom data field #9'
                      value: value09
                    claimSpecificCode10:
                      label: 'This is the label for the Coded custom data field #10'
                      description: 'This is the description for the Coded custom data field #10'
                      value: value10
                    claimSpecificDateTime01:
                      label: 'This is the label for the DateTime custom data field #1'
                      value: 03/10/2020
                    claimSpecificDateTime02:
                      label: 'This is the label for the DateTime custom data field #2'
                      value: 04/11/2020
                    claimSpecificDateTime03:
                      label: 'This is the label for the DateTime custom data field #3'
                      value: 05/12/2020
                    claimSpecificIndicator01:
                      label: 'This is the label for the indicator custom data field #1'
                      value: 'Y'
                    claimSpecificIndicator02:
                      label: 'This is the label for the indicator custom data field #2'
                      value: 'N'
                    claimSpecific10Character01:
                      label: 'This is the label for the 10 character custom data field #1'
                      value: 10CHAR-01
                    claimSpecific10Character02:
                      label: 'This is the label for the 10 character custom data field #2'
                      value: 10CHAR-02
                    claimSpecific80Character01:
                      label: 'This is the label for the 80 character custom data field #1'
                      value: 'This is the value for the 80 character custom data field #1'
                    claimSpecific80Character02:
                      label: 'This is the label for the 80 character custom data field #2'
                      value: 'This is the value for the 80 character custom data field #2'
                    claimSpecific80Character03:
                      label: 'This is the label for the 80 character custom data field #3'
                      value: 'This is the value for the 80 character custom data field #3'
                    claimSpecific80Character04:
                      label: 'This is the label for the 80 character custom data field #4'
                      value: 'This is the value for the 80 character custom data field #4'
                    claimSpecific120Character01:
                      label: This is the label for the 120 character custom data field
                      value: This is the value for the 120 character custom data field.
                  fnolConfirmationRecipients:
                    - emailAddress: test1@gmail.com
                      optInForClaimNotificationsIndicator: true
                    - emailAddress: CI_FNOL_Business_support@libertymutual.com
                      optInForClaimNotificationsIndicator: true
                    - emailAddress: CI_FNOL_Business_support@libertymutual.com
                      optInForClaimNotificationsIndicator: true
                summary: Maximum Auto Data
              autoSingleVehicleAccident:
                value:
                  insuredOrPrincipal:
                    accountStakeholderID: 123456
                    lineOfBusinessCode: AUTOB
                    policyNumber: AB1234567890123
                    policyEffectiveDate: '2020-01-01'
                    policyExpirationDate: '2021-01-01'
                    organizationName:
                      organizationNameLine1: Organization Line 1
                      organizationNameLine2: Organization Line 2
                    primaryAddress:
                      addressLine1: 175 Berkeley Street
                      addressLine2: Unit 1
                      city: Boston
                      stateProvinceCode: US-MA
                      postalCode: '12345'
                      county: Suffolk
                      countryCode: USA
                    secondaryAddress:
                      addressLine1: 175 Berkeley Street
                      addressLine2: Unit 1
                      city: Boston
                      stateProvinceCode: US-MA
                      postalCode: '12345'
                      county: Suffolk
                      countryCode: USA
                    businessPhone:
                      phoneNumber: +1-800-3620000
                      phoneExtension: '123'
                      optInForTextMessagingIndicator: true
                    email:
                      emailAddress: CI_FNOL_Business_support@libertymutual.com
                      optInForClaimNotificationsIndicator: true
                    involvedPartyAdditionalRemarks: These are insured or principal additional remarks.
                  claimsOccurrence:
                    lossDate: '2020-07-15'
                    lossTime: '10:30:00'
                    reportedToInsuredDateTime: '2020-07-16T01:30:00Z'
                    insuredReportNumber: 'IRN #12345'
                    insuredLocationCode: 1234567890AbCdEfGhIjKlMnOpQrSt
                    insuredFederalTaxIdentificationNumber: '123456789'
                    lawsuitHasBeenFiledIndicator: true
                    lawsuitDocketNumber: LDN 765
                    lawsuitFilingCounty: AnyCounty
                    lawsuitFilingCourt: TheCourt
                    lawsuitFilingAttorney: John Smith
                    associatedClaimInfo:
                      claimNumber: '123456789'
                      claimType: Duplicate
                      associationType: Secondary
                    reportingClaimAsRecordOnlyIndicator: true
                    claimsOccurrenceAdditionalRemarks: These are the claims occurrence additional remarks.
                  autoEventDetails:
                    eventDescriptionCode: '82'
                    eventDescriptionText: ran over a wheel in the road
                    eventStreetLine1: 175 berkeley street
                    eventStreetLine2: Suite 100
                    eventCity: Boston
                    eventStateProvinceCode: US-MA
                    eventPostalCode: '12345'
                    eventCounty: EventCounty
                    eventCountryCode: USA
                    eventLocationLatitude: '43.761539'
                    eventLocationLongitude: '-79.411079'
                    eventDetailedLocationDescription: Detailed description of location
                    transportationNetworkCompanyPeriod: TncPeriod1
                    tripOriginationCity: Portland
                    tripOriginationStateCode: US-ME
                    insuredVehiclePassengerCount: 1
                    seekingInsuredVehicleCoverageIndicator: true
                    claimReportedByRelationshipToInsuredCode: EmployeeOrInternalAgent
                    claimReportedByRelationshipToInsuredText: Relationship Text
                  claimReportedBy:
                    personName:
                      firstName: Jasmine
                      middleInitial: M
                      lastName: Brown
                      nameSuffixCode: I
                    primaryAddress:
                      addressLine1: 175 Berkeley Street
                      addressLine2: Unit 1
                      city: Boston
                      stateProvinceCode: US-MA
                      postalCode: '12345'
                      county: Suffolk
                      countryCode: USA
                    businessPhone:
                      phoneNumber: +1-800-3620000
                      phoneExtension: '123'
                      optInForTextMessagingIndicator: false
                    homePhone:
                      phoneNumber: +1-800-3620000
                      phoneExtension: '123'
                      optInForTextMessagingIndicator: false
                    mobilePhone:
                      phoneNumber: +1-800-3620000
                      phoneExtension: '123'
                      optInForTextMessagingIndicator: false
                    email:
                      emailAddress: CI_FNOL_Business_support@libertymutual.com
                      optInForClaimNotificationsIndicator: false
                    demographics:
                      dateOfBirth: '1968-07-23'
                      genderCode: Female
                    involvedPartyIdentifier: IP1
                    involvedPartyAdditionalRemarks: These are the claim reported by additional remarks.
                  claimPrimaryContact:
                    personName:
                      firstName: Eric
                      middleInitial: A
                      lastName: Green
                      nameSuffixCode: I
                    primaryAddress:
                      addressLine1: 175 Berkeley Street
                      addressLine2: Unit 1
                      city: Boston
                      stateProvinceCode: US-MA
                      postalCode: '12345'
                      county: Suffolk
                      countryCode: USA
                    businessPhone:
                      phoneNumber: +1-800-3620000
                      phoneExtension: '123'
                      optInForTextMessagingIndicator: true
                    homePhone:
                      phoneNumber: +1-800-3620000
                      phoneExtension: '123'
                      optInForTextMessagingIndicator: true
                    mobilePhone:
                      phoneNumber: +1-800-3620000
                      phoneExtension: '123'
                      optInForTextMessagingIndicator: false
                    email:
                      emailAddress: CI_FNOL_Business_support@libertymutual.com
                      optInForClaimNotificationsIndicator: true
                    demographics:
                      dateOfBirth: '1968-07-23'
                      genderCode: Male
                    involvedPartyIdentifier: Primary1
                    involvedPartyAdditionalRemarks: These are the primary contact additional remarks.
                  insuredVehicle:
                    vehicleDetails:
                      vehicleOwnershipTypeCode: Owned
                      typeOfVehicle: PassengerAutomobile
                      year: '2022'
                      make: Toyota
                      model: Camry
                      VIN: VIN123
                      color: blue
                      registrationStateProvinceCode: US-WY
                      licensePlateNumber: WY-4321
                    vehicleDamages:
                      wasVehicleStopped: 'No'
                      pointOfImpactCode: Undercarriage
                      estimatedDamageSeverityCode: Severe
                      wasVehicleDrivenFromScene: 'No'
                      wereAirbagsDeployed: 'No'
                      vehicleDamageDescription: Ripped off oil pan and transmission
                    otherInsurance:
                      organizationName:
                        organizationNameLine1: Organization Line 1
                        organizationNameLine2: Organization Line 2
                      primaryAddress:
                        addressLine1: 175 Berkeley Street
                        addressLine2: Unit 1
                        city: Boston
                        stateProvinceCode: US-MA
                        postalCode: '12345'
                        county: Suffolk
                        countryCode: USA
                      businessPhone:
                        phoneNumber: +1-800-3620000
                        phoneExtension: '123'
                        optInForTextMessagingIndicator: true
                      email:
                        emailAddress: CI_FNOL_Business_support@libertymutual.com
                        optInForClaimNotificationsIndicator: true
                      otherInsurancePolicyNumber: Pol9876
                      involvedPartyIdentifier: Other321
                      involvedPartyAdditionalRemarks: These are the other insurance additional remarks.
                    driverCustodian:
                      personName:
                        firstName: Austin
                        middleInitial: C
                        lastName: Kennith
                        nameSuffixCode: V
                      primaryAddress:
                        addressLine1: 175 Berkeley Street
                        addressLine2: Unit 1
                        city: Boston
                        stateProvinceCode: US-MA
                        postalCode: '12345'
                        county: Suffolk
                        countryCode: USA
                      businessPhone:
                        phoneNumber: +1-800-3620000
                        phoneExtension: '123'
                        optInForTextMessagingIndicator: true
                      homePhone:
                        phoneNumber: +1-800-3620000
                        phoneExtension: '123'
                        optInForTextMessagingIndicator: true
                      mobilePhone:
                        phoneNumber: +1-800-3620000
                        phoneExtension: '123'
                        optInForTextMessagingIndicator: false
                      email:
                        emailAddress: CI_FNOL_Business_support@libertymutual.com
                        optInForClaimNotificationsIndicator: true
                      demographics:
                        dateOfBirth: '1968-07-23'
                        genderCode: Male
                      driversLicenseInformation:
                        driversLicenseIssuingStateCode: US-VT
                        driversLicenseNumber: VT123456
                      injury:
                        sufferedBodilyInjuryIndicator: false
                        extentOfInjuryCode: CutScrapeAbrasion
                        extentOfInjuryOtherText: Extent Other Text
                        initialMedicalTreatmentCode: NoMedicalTreatment
                        additionalInjuryDescriptionText: This is the insured driver additional injury description.
                      personalPropertyDamage:
                        personalPropertyDamagedIndicator: true
                        personalPropertyDescription: Insured driver personal property description.
                        personalPropertyDamageDescription: This is the insured driver personal property damage description.
                      wasDriverOrCustodianPresent: 'Yes'
                      relationshipToVehicleOwner: Self
                      didDriverHaveOwnersPermissionIndicator: 'No'
                      involvedPartyIdentifier: IDC888
                      involvedPartyAdditionalRemarks: These are the insured driver additional remarks.
                    owner:
                      organizationName:
                        organizationNameLine1: Organization Line 1
                        organizationNameLine2: Organization Line 2
                      personName:
                        firstName: Larry
                        middleInitial: B
                        lastName: Grant
                        nameSuffixCode: I
                      primaryAddress:
                        addressLine1: 175 Berkeley Street
                        addressLine2: Unit 1
                        city: Boston
                        stateProvinceCode: US-MA
                        postalCode: '12345'
                        county: Suffolk
                        countryCode: USA
                      businessPhone:
                        phoneNumber: +1-800-3620000
                        phoneExtension: '123'
                        optInForTextMessagingIndicator: true
                      homePhone:
                        phoneNumber: +1-800-3620000
                        phoneExtension: '123'
                        optInForTextMessagingIndicator: true
                      mobilePhone:
                        phoneNumber: +1-800-3620000
                        phoneExtension: '123'
                        optInForTextMessagingIndicator: false
                      email:
                        emailAddress: CI_FNOL_Business_support@libertymutual.com
                        optInForClaimNotificationsIndicator: true
                      demographics:
                        dateOfBirth: '1968-07-23'
                        genderCode: Male
                      involvedPartyIdentifier: Owner1
                      involvedPartyAdditionalRemarks: These are the insured owner additional remarks.
                    passengers:
                      - personName:
                          firstName: Mickey
                          middleInitial: R
                          lastName: Mango
                          nameSuffixCode: V
                        primaryAddress:
                          addressLine1: 175 Berkeley Street
                          addressLine2: Unit 1
                          city: Boston
                          stateProvinceCode: US-MA
                          postalCode: '12345'
                          county: Suffolk
                          countryCode: USA
                        businessPhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: true
                        homePhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: true
                        mobilePhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: false
                        email:
                          emailAddress: CI_FNOL_Business_support@libertymutual.com
                          optInForClaimNotificationsIndicator: true
                        demographics:
                          dateOfBirth: '1990-01-17'
                          genderCode: Male
                        driversLicenseInformation:
                          driversLicenseIssuingStateCode: US-CT
                          driversLicenseNumber: DL768
                        injury:
                          sufferedBodilyInjuryIndicator: true
                          extentOfInjuryCode: Other
                          extentOfInjuryOtherText: Other Extent Text
                          initialMedicalTreatmentCode: TreatmentUnknown
                          additionalInjuryDescriptionText: This is the insured passenger additional injury description.
                        personalPropertyDamage:
                          personalPropertyDamagedIndicator: true
                          personalPropertyDescription: Passenger personal property description
                          personalPropertyDamageDescription: Passenger personal property damage
                        involvedPartyIdentifier: PASS1
                        involvedPartyAdditionalRemarks: These are the insured passenger additional remarks.
                  customDataFields:
                    claimSpecificCode01:
                      label: 'This is the label for the Coded custom data field #1'
                      description: 'This is the description for the Coded custom data field #1'
                      value: value01
                    claimSpecificCode02:
                      label: 'This is the label for the Coded custom data field #2'
                      description: 'This is the description for the Coded custom data field #2'
                      value: value02
                    claimSpecificCode03:
                      label: 'This is the label for the Coded custom data field #3'
                      description: 'This is the description for the Coded custom data field #3'
                      value: value03
                    claimSpecificCode04:
                      label: 'This is the label for the Coded custom data field #4'
                      description: 'This is the description for the Coded custom data field #4'
                      value: value04
                    claimSpecificCode05:
                      label: 'This is the label for the Coded custom data field #5'
                      description: 'This is the description for the Coded custom data field #5'
                      value: value05
                    claimSpecificCode06:
                      label: 'This is the label for the Coded custom data field #6'
                      description: 'This is the description for the Coded custom data field #6'
                      value: value06
                    claimSpecificCode07:
                      label: 'This is the label for the Coded custom data field #7'
                      description: 'This is the description for the Coded custom data field #7'
                      value: value07
                    claimSpecificCode08:
                      label: 'This is the label for the Coded custom data field #8'
                      description: 'This is the description for the Coded custom data field #8'
                      value: value08
                    claimSpecificCode09:
                      label: 'This is the label for the Coded custom data field #9'
                      description: 'This is the description for the Coded custom data field #9'
                      value: value09
                    claimSpecificCode10:
                      label: 'This is the label for the Coded custom data field #10'
                      description: 'This is the description for the Coded custom data field #10'
                      value: value10
                    claimSpecificDateTime01:
                      label: 'This is the label for the DateTime custom data field #1'
                      value: 03/10/2020
                    claimSpecificDateTime02:
                      label: 'This is the label for the DateTime custom data field #2'
                      value: 04/11/2020
                    claimSpecificDateTime03:
                      label: 'This is the label for the DateTime custom data field #3'
                      value: 05/12/2020
                    claimSpecificIndicator01:
                      label: 'This is the label for the indicator custom data field #1'
                      value: 'Y'
                    claimSpecificIndicator02:
                      label: 'This is the label for the indicator custom data field #2'
                      value: 'N'
                    claimSpecific10Character01:
                      label: 'This is the label for the 10 character custom data field #1'
                      value: 10CHAR-01
                    claimSpecific10Character02:
                      label: 'This is the label for the 10 character custom data field #2'
                      value: 10CHAR-02
                    claimSpecific80Character01:
                      label: 'This is the label for the 80 character custom data field #1'
                      value: 'This is the value for the 80 character custom data field #1'
                    claimSpecific80Character02:
                      label: 'This is the label for the 80 character custom data field #2'
                      value: 'This is the value for the 80 character custom data field #2'
                    claimSpecific80Character03:
                      label: 'This is the label for the 80 character custom data field #3'
                      value: 'This is the value for the 80 character custom data field #3'
                    claimSpecific80Character04:
                      label: 'This is the label for the 80 character custom data field #4'
                      value: 'This is the value for the 80 character custom data field #4'
                    claimSpecific120Character01:
                      label: This is the label for the 120 character custom data field
                      value: This is the value for the 120 character custom data field.
                summary: 'Single Vehicle Accident, Insured Damage'
              autoTwoVehicleAccident:
                value:
                  insuredOrPrincipal:
                    accountStakeholderID: 123456
                    lineOfBusinessCode: AUTOB
                    policyNumber: AB1234567890123
                    policyEffectiveDate: '2020-01-01'
                    policyExpirationDate: '2021-01-01'
                    organizationName:
                      organizationNameLine1: Organization Line 1
                    primaryAddress:
                      city: Boston
                      stateProvinceCode: US-MA
                      countryCode: USA
                    businessPhone:
                      phoneNumber: +1-800-3620000
                  claimsOccurrence:
                    lossDate: '2020-07-15'
                    lossTime: '10:30:00'
                    reportedToInsuredDateTime: '2020-07-16T01:30:00Z'
                    insuredReportNumber: 'IRN #12345'
                  autoEventDetails:
                    eventDescriptionCode: '01'
                    eventDescriptionText: Insert description here
                    eventStreetLine1: 175 Berkeley Street
                    eventCity: Boston
                    eventStateProvinceCode: US-MA
                    eventCountryCode: USA
                    seekingInsuredVehicleCoverageIndicator: true
                    claimReportedByRelationshipToInsuredCode: EmployeeOrInternalAgent
                  claimReportedBy:
                    personName:
                      firstName: Jasmine
                      lastName: Brown
                    businessPhone:
                      phoneNumber: +1-800-3620000
                  insuredVehicle:
                    vehicleDetails:
                      vehicleOwnershipTypeCode: Owned
                      typeOfVehicle: PassengerAutomobile
                      year: '2022'
                      make: Toyota
                      model: Camry
                    vehicleDamages:
                      wasVehicleStopped: 'No'
                      pointOfImpactCode: Rear
                      estimatedDamageSeverityCode: Minor
                    driverCustodian:
                      personName:
                        firstName: John
                        lastName: Smith
                      businessPhone:
                        phoneNumber: +1-800-3620000
                      demographics:
                        genderCode: Male
                      injury:
                        sufferedBodilyInjuryIndicator: true
                      personalPropertyDamage:
                        personalPropertyDamagedIndicator: true
                      wasDriverOrCustodianPresent: 'Yes'
                      relationshipToVehicleOwner: Self
                  thirdPartyVehicles:
                    - vehicleDetails:
                        vehicleOwnershipTypeCode: HiredOrRented
                        typeOfVehicle: Bus
                        year: '2000'
                        make: Honda
                        model: Civic
                        VIN: VINCIVIC
                        color: tan
                        registrationStateProvinceCode: US-MS
                        licensePlateNumber: MS887766
                      vehicleDamages:
                        wasVehicleStopped: 'No'
                        pointOfImpactCode: Front
                        estimatedDamageSeverityCode: Minor
                        wasVehicleDrivenFromScene: 'Yes'
                        wereAirbagsDeployed: 'No'
                        vehicleDamageDescription: This is the third party vehicle damage description.
                      otherInsurance:
                        organizationName:
                          organizationNameLine1: Organization Line 1
                          organizationNameLine2: Organization Line 2
                        primaryAddress:
                          addressLine1: 175 Berkeley Street
                          addressLine2: Unit 1
                          city: Boston
                          stateProvinceCode: US-MA
                          postalCode: '12345'
                          county: Suffolk
                          countryCode: USA
                        businessPhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: true
                        email:
                          emailAddress: CI_FNOL_Business_support@libertymutual.com
                          optInForClaimNotificationsIndicator: true
                        otherInsurancePolicyNumber: OIP12345
                        involvedPartyIdentifier: TPVeh1
                        involvedPartyAdditionalRemarks: These are the third party insurance additional remarks.
                      driverCustodian:
                        personName:
                          firstName: Carlie
                          middleInitial: P
                          lastName: Peterson
                          nameSuffixCode: II
                        primaryAddress:
                          addressLine1: 175 Berkeley Street
                          addressLine2: Unit 1
                          city: Boston
                          stateProvinceCode: US-MA
                          postalCode: '12345'
                          county: Suffolk
                          countryCode: USA
                        businessPhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: true
                        homePhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: true
                        mobilePhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: false
                        email:
                          emailAddress: CI_FNOL_Business_support@libertymutual.com
                          optInForClaimNotificationsIndicator: true
                        demographics:
                          dateOfBirth: '1970-02-23'
                          genderCode: Female
                        driversLicenseInformation:
                          driversLicenseIssuingStateCode: US-AK
                          driversLicenseNumber: DL-792-ABC1970
                        injury:
                          sufferedBodilyInjuryIndicator: true
                          extentOfInjuryCode: Concussion
                          extentOfInjuryOtherText: Slight concussion
                          initialMedicalTreatmentCode: HospitalEmergencyRoomTreatedAndReleased
                          additionalInjuryDescriptionText: This is the third party driver additional injury description.
                        personalPropertyDamage:
                          personalPropertyDamagedIndicator: true
                          personalPropertyDescription: Third party driver personal property description.
                          personalPropertyDamageDescription: This is the third driver passenger personal property damage description.
                        wasDriverOrCustodianPresent: 'No'
                        relationshipToVehicleOwner: Employee
                        didDriverHaveOwnersPermissionIndicator: 'No'
                        involvedPartyIdentifier: IPI-89223HA
                        involvedPartyAdditionalRemarks: These are the third party driver additional remarks.
                      owner:
                        organizationName:
                          organizationNameLine1: Organization Line 1
                          organizationNameLine2: Organization Line 2
                        personName:
                          firstName: Marion
                          middleInitial: W
                          lastName: Carson
                          nameSuffixCode: I
                        primaryAddress:
                          addressLine1: 175 Berkeley Street
                          addressLine2: Unit 1
                          city: Boston
                          stateProvinceCode: US-MA
                          postalCode: '12345'
                          county: Suffolk
                          countryCode: USA
                        businessPhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: true
                        homePhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: true
                        mobilePhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: false
                        email:
                          emailAddress: CI_FNOL_Business_support@libertymutual.com
                          optInForClaimNotificationsIndicator: true
                        demographics:
                          dateOfBirth: '1968-07-23'
                          genderCode: Male
                        involvedPartyIdentifier: IPI-MC-009
                        involvedPartyAdditionalRemarks: These are the third party owner additional remarks.
                      passengers:
                        - personName:
                            firstName: Nick
                            middleInitial: T
                            lastName: Kline
                            nameSuffixCode: I
                          primaryAddress:
                            addressLine1: 175 Berkeley Street
                            addressLine2: Unit 1
                            city: Boston
                            stateProvinceCode: US-MA
                            postalCode: '12345'
                            county: Suffolk
                            countryCode: USA
                          businessPhone:
                            phoneNumber: +1-800-3620000
                            phoneExtension: '123'
                            optInForTextMessagingIndicator: true
                          homePhone:
                            phoneNumber: +1-800-3620000
                            phoneExtension: '123'
                            optInForTextMessagingIndicator: true
                          mobilePhone:
                            phoneNumber: +1-800-3620000
                            phoneExtension: '123'
                            optInForTextMessagingIndicator: false
                          email:
                            emailAddress: CI_FNOL_Business_support@libertymutual.com
                            optInForClaimNotificationsIndicator: true
                          demographics:
                            dateOfBirth: '2020-07-23'
                            genderCode: Male
                          driversLicenseInformation:
                            driversLicenseIssuingStateCode: US-AK
                            driversLicenseNumber: DL-DE-67231
                          injury:
                            sufferedBodilyInjuryIndicator: true
                            extentOfInjuryCode: InjuryExtentUnknown
                            extentOfInjuryOtherText: Extent of injury is unknown
                            initialMedicalTreatmentCode: TreatmentAtPhysiciansOffice
                            additionalInjuryDescriptionText: This is the third party passenger additional injury description.
                          personalPropertyDamage:
                            personalPropertyDamagedIndicator: true
                            personalPropertyDescription: 3rd party passenger personal property description
                            personalPropertyDamageDescription: This is the third party passenger personal property damage description.
                          involvedPartyIdentifier: IPI-965
                          involvedPartyAdditionalRemarks: These are the third party passenger additional remarks.
                    - vehicleDetails:
                        vehicleOwnershipTypeCode: Owned
                        typeOfVehicle: PassengerAutomobile
                        year: '2021'
                        make: Honda
                        model: CRV
                        VIN: VINCRV
                        color: black
                        registrationStateProvinceCode: US-MA
                        licensePlateNumber: MA887799
                      vehicleDamages:
                        wasVehicleStopped: 'No'
                        pointOfImpactCode: Rear
                        estimatedDamageSeverityCode: Minor
                        wasVehicleDrivenFromScene: 'No'
                        wereAirbagsDeployed: 'No'
                        vehicleDamageDescription: This is the second third party vehicle damage description.
                      otherInsurance:
                        organizationName:
                          organizationNameLine1: Organization Line 1
                          organizationNameLine2: Organization Line 2
                        primaryAddress:
                          addressLine1: 175 Berkeley Street
                          addressLine2: Unit 1
                          city: Boston
                          stateProvinceCode: US-MA
                          postalCode: '12345'
                          county: Suffolk
                          countryCode: USA
                        businessPhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: true
                        email:
                          emailAddress: CI_FNOL_Business_support@libertymutual.com
                          optInForClaimNotificationsIndicator: true
                        otherInsurancePolicyNumber: OZP12346
                        involvedPartyIdentifier: Other321
                        involvedPartyAdditionalRemarks: These are the second third party insurance additional remarks.
                      driverCustodian:
                        personName:
                          firstName: Austin
                          middleInitial: P
                          lastName: Johnson
                          nameSuffixCode: II
                        primaryAddress:
                          addressLine1: 175 Berkeley Street
                          addressLine2: Unit 1
                          city: Boston
                          stateProvinceCode: US-MA
                          postalCode: '12345'
                          county: Suffolk
                          countryCode: USA
                        businessPhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: true
                        homePhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: true
                        mobilePhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: false
                        email:
                          emailAddress: CI_FNOL_Business_support@libertymutual.com
                          optInForClaimNotificationsIndicator: true
                        demographics:
                          dateOfBirth: '1979-01-01'
                          genderCode: Male
                        driversLicenseInformation:
                          driversLicenseIssuingStateCode: US-MA
                          driversLicenseNumber: MA-792-ZYZ1971
                        injury:
                          sufferedBodilyInjuryIndicator: true
                          extentOfInjuryCode: Other
                          extentOfInjuryOtherText: Other Extent Text
                          initialMedicalTreatmentCode: TreatmentUnknown
                          additionalInjuryDescriptionText: This is the second third party driver additional injury description.
                        personalPropertyDamage:
                          personalPropertyDamagedIndicator: true
                          personalPropertyDescription: Third party driver personal property description.
                          personalPropertyDamageDescription: This is the second third driver passenger personal property damage description.
                        wasDriverOrCustodianPresent: 'No'
                        relationshipToVehicleOwner: Employee
                        didDriverHaveOwnersPermissionIndicator: 'No'
                        involvedPartyIdentifier: IPZ-99112ZA
                        involvedPartyAdditionalRemarks: These are the secpmd third party driver additional remarks.
                      owner:
                        organizationName:
                          organizationNameLine1: Organization Line 1
                          organizationNameLine2: Organization Line 2
                        personName:
                          firstName: Joe
                          middleInitial: W
                          lastName: Johnson
                          nameSuffixCode: I
                        primaryAddress:
                          addressLine1: 175 Berkeley Street
                          addressLine2: Unit 1
                          city: Boston
                          stateProvinceCode: US-MA
                          postalCode: '12345'
                          county: Suffolk
                          countryCode: USA
                        businessPhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: true
                        homePhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: true
                        mobilePhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: false
                        email:
                          emailAddress: CI_FNOL_Business_support@libertymutual.com
                          optInForClaimNotificationsIndicator: true
                        demographics:
                          dateOfBirth: '1972-01-22'
                          genderCode: Male
                        involvedPartyIdentifier: IPM-GM-001
                        involvedPartyAdditionalRemarks: These are the second third party owner additional remarks.
                      passengers:
                        - personName:
                            firstName: Joe
                            middleInitial: T
                            lastName: Jenkins
                            nameSuffixCode: I
                          primaryAddress:
                            addressLine1: 175 Berkeley Street
                            addressLine2: Unit 1
                            city: Boston
                            stateProvinceCode: US-MA
                            postalCode: '12345'
                            county: Suffolk
                            countryCode: USA
                          businessPhone:
                            phoneNumber: +1-800-3620000
                            phoneExtension: '123'
                            optInForTextMessagingIndicator: true
                          homePhone:
                            phoneNumber: +1-800-3620000
                            phoneExtension: '123'
                            optInForTextMessagingIndicator: true
                          mobilePhone:
                            phoneNumber: +1-800-3620000
                            phoneExtension: '123'
                            optInForTextMessagingIndicator: false
                          email:
                            emailAddress: CI_FNOL_Business_support@libertymutual.com
                            optInForClaimNotificationsIndicator: true
                          demographics:
                            dateOfBirth: '1955-01-23'
                            genderCode: Male
                          driversLicenseInformation:
                            driversLicenseIssuingStateCode: US-NH
                            driversLicenseNumber: NH-GL-54321
                          injury:
                            sufferedBodilyInjuryIndicator: false
                            extentOfInjuryCode: Concussion
                            extentOfInjuryOtherText: Extent of injury is minimal
                            initialMedicalTreatmentCode: TreatmentAtPhysiciansOffice
                            additionalInjuryDescriptionText: This is the second third party passenger additional injury description.
                          personalPropertyDamage:
                            personalPropertyDamagedIndicator: true
                            personalPropertyDescription: 3rd party passenger personal property description
                            personalPropertyDamageDescription: This is the second third party passenger personal property damage description.
                          involvedPartyIdentifier: IPI-111
                          involvedPartyAdditionalRemarks: These are the second third party passenger additional remarks.
                summary: 'Two Vehicle Accident, third-party vehicle damage with passengers'
              autoTwoVehicleAccidentInsuredNotSeekingCoverage:
                value:
                  insuredOrPrincipal:
                    accountStakeholderID: 123456
                    lineOfBusinessCode: AUTOB
                    policyNumber: AB1234567890123
                    policyEffectiveDate: '2020-01-01'
                    policyExpirationDate: '2021-01-01'
                    organizationName:
                      organizationNameLine1: Organization Line 1
                    primaryAddress:
                      city: Boston
                      stateProvinceCode: US-MA
                      countryCode: USA
                    businessPhone:
                      phoneNumber: +1-800-3620000
                  claimsOccurrence:
                    lossDate: '2020-07-15'
                    lossTime: '10:30:00'
                    reportedToInsuredDateTime: '2020-07-16T01:30:00Z'
                    insuredReportNumber: 'IRN #12345'
                  autoEventDetails:
                    eventDescriptionCode: '01'
                    eventDescriptionText: Insert description here
                    eventStreetLine1: 175 Berkeley Street
                    eventCity: Boston
                    eventStateProvinceCode: US-MA
                    eventCountryCode: USA
                    seekingInsuredVehicleCoverageIndicator: false
                    claimReportedByRelationshipToInsuredCode: EmployeeOrInternalAgent
                  claimReportedBy:
                    personName:
                      firstName: Jasmine
                      lastName: Brown
                    businessPhone:
                      phoneNumber: +1-800-3620000
                  insuredVehicle:
                    vehicleDetails:
                      vehicleOwnershipTypeCode: Owned
                      typeOfVehicle: PassengerAutomobile
                      year: '2022'
                      make: Toyota
                      model: Camry
                    vehicleDamages:
                      wasVehicleStopped: 'No'
                      pointOfImpactCode: Rear
                      estimatedDamageSeverityCode: Minor
                    driverCustodian:
                      personName:
                        firstName: John
                        lastName: Smith
                      businessPhone:
                        phoneNumber: +1-800-3620000
                      demographics:
                        genderCode: Male
                      injury:
                        sufferedBodilyInjuryIndicator: true
                      personalPropertyDamage:
                        personalPropertyDamagedIndicator: true
                      wasDriverOrCustodianPresent: 'Yes'
                      relationshipToVehicleOwner: Self
                  thirdPartyVehicles:
                    - vehicleDetails:
                        vehicleOwnershipTypeCode: HiredOrRented
                        typeOfVehicle: Bus
                        year: '2000'
                        make: Honda
                        model: Civic
                        VIN: VINCIVIC
                        color: tan
                        registrationStateProvinceCode: US-MS
                        licensePlateNumber: MS887766
                      vehicleDamages:
                        wasVehicleStopped: 'No'
                        pointOfImpactCode: Front
                        estimatedDamageSeverityCode: Minor
                        wasVehicleDrivenFromScene: 'Yes'
                        wereAirbagsDeployed: 'No'
                        vehicleDamageDescription: This is the third party vehicle damage description.
                      otherInsurance:
                        organizationName:
                          organizationNameLine1: Organization Line 1
                          organizationNameLine2: Organization Line 2
                        primaryAddress:
                          addressLine1: 175 Berkeley Street
                          addressLine2: Unit 1
                          city: Boston
                          stateProvinceCode: US-MA
                          postalCode: '12345'
                          county: Suffolk
                          countryCode: USA
                        businessPhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: true
                        email:
                          emailAddress: CI_FNOL_Business_support@libertymutual.com
                          optInForClaimNotificationsIndicator: true
                        otherInsurancePolicyNumber: OIP12345
                        involvedPartyIdentifier: TPVeh1
                        involvedPartyAdditionalRemarks: These are the third party insurance additional remarks.
                      driverCustodian:
                        personName:
                          firstName: Carlie
                          middleInitial: P
                          lastName: Peterson
                          nameSuffixCode: II
                        primaryAddress:
                          addressLine1: 175 Berkeley Street
                          addressLine2: Unit 1
                          city: Boston
                          stateProvinceCode: US-MA
                          postalCode: '12345'
                          county: Suffolk
                          countryCode: USA
                        businessPhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: true
                        homePhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: true
                        mobilePhone:
                          phoneNumber: +1-800-3620000
                          phoneExtension: '123'
                          optInForTextMessagingIndicator: false
                        email:
                          emailAddress: CI_FNOL_Business_support@libertymutual.com
[...]
